.container {
    margin: 20px;
    height: 100%;

    h3 {
        margin-bottom: 8px;
    }
}


.chat-interface {
    padding: 20px;
    margin: 10px 20px 20px;
    min-width: 600px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-list {
    overflow-y: scroll;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: end;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prompt-container {
    flex-direction: row;
    width: 100%;

    button {
        margin: 8px;
        height: fit-content;
    }

    .progress-ind {
        margin: 8px
    }
}